version: "3.9"

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: chatapp_backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    networks:
      - appnet        


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: chatapp_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - appnet        


  db:
    image: postgres:15
    container_name: chatapp_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet       

volumes:
  pgdata:

networks:
  appnet:             
